@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Creepster&display=swap');
*{padding: 0%;margin: 0%;
    
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    font-family: 'Baloo Bhai 2', cursive;
}

header{
    height: 25%;
    display: flex;

     
    
}
h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color:#10b0c8;
    font-family: 'Creepster', cursive;
    -webkit-text-stroke: 0.1vh #d7e170;
    font-size: 6vw;
    width: 100%;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    color: #10b0c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #10b0c8 5px ridge;
    border-radius: 30px;
    padding: 20px;
    margin: 2%;
}

.allcards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.card img{
    border-radius: 20px;
}

select{
    text-align: center;
    width: 25vw;
    cursor: pointer;
    padding: 2vh 0px;
    color:#7b7b7b;
    background: #f0f0f0;
    font-size: 1.5vw;
    border-radius: 12px;
    transition: all 0.25s ease;
}


